<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/welcome}"
                                href="welcome.html">Inicio</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('MAT','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}"
                                href="welcome.html">Matemáticas</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('LEN','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/lengua}"
                                href="welcome.html">Lengua</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ING','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}"
                                href="welcome.html">Inglés</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('REL','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}"
                                href="welcome.html">Religión</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('FIS','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}"
                                href="welcome.html">Física</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('QUI','DIC')">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}"
                                href="welcome.html">Química</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}"><i class="bi bi-box-arrow-left" th:text="logout"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</body>

</html>