<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />

  <div class="container">
    <h1 th:text="${greetings}">Hola</h1>

    <!--

    <h3 th:text="#{saludar.usuario(${session.usuario.name})}">Hello, Placeholder</h3>
    <h4 th:text="${sessionid}"></h4>

    -->

    <span sec:authorize="isAuthenticated()">
      | Logged user: <span sec:authentication="name"></span> |
      Roles: <span sec:authentication="principal.authorities"></span> |
      <a th:href="@{/logout}">Sign Out</a>
  </span>

  </div>
  
  <div th:replace="commons/footer :: footer" class="container" /> 
  </body>
</html>